# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
ENV/

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code / IDE files
.vscode/
.idea/

# macOS system files
.DS_Store

# Node modules (if you connect React frontend here)
node_modules/

# Environment variables
*.env
.env
